## История олимпийских игр

Данные содержат следующие признаки:

* ID - Unique number for each athlete
* Name - Athlete's name
* Sex - M or F
* Age - Integer
* Height - In centimeters
* Weight - In kilograms
* Team - Team name
* NOC - National Olympic Committee 3-letter code
* Games - Year and season
* Year - Integer
* Season - Summer or Winter
* City - Host city
* Sport - Sport
* Event - Event
* Medal - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd
%matplotlib inline

data = pd.read_csv('athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

**1. Сколько лет было самым молодым участникам (мужчина и женщина) олимпийских игр в 1992 году?**

In [3]:
print(data['Age'].min())

10.0

__2. Найдите среднее для роста теннисисток (большой теннис), которые участвовали в играх 2000 года.__

In [14]:
data.Sport.unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [15]:
data[data.Sport.str.contains('Tennis')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
184,82,Enrique Abaroa Martnez,M,26.0,183.0,75.0,Mexico,MEX,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
498,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Singles,NaN
499,277,Shaimaa Abdul Aziz,F,19.0,160.0,53.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Doubles,NaN
500,277,Shaimaa Abdul Aziz,F,27.0,160.0,53.0,Egypt,EGY,2008 Summer,2008,Summer,Beijing,Table Tennis,Table Tennis Women's Singles,NaN
582,334,Abubakar Sadiq Abdullahi,M,28.0,NaN,NaN,Nigeria,NGR,1988 Summer,1988,Summer,Seoul,Tennis,Tennis Men's Singles,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270980,135502,"Nataliya Maratovna ""Natasha"" Zvereva",F,29.0,172.0,60.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
270986,135508,Vera Igorevna Zvonaryova,F,23.0,172.0,59.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Women's Singles,Bronze
270987,135508,Vera Igorevna Zvonaryova,F,23.0,172.0,59.0,Russia-2,RUS,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Women's Doubles,NaN
270988,135508,Vera Igorevna Zvonaryova,F,27.0,172.0,59.0,Russia,RUS,2012 Summer,2012,Summer,London,Tennis,Tennis Women's Singles,NaN
271020,135526,Dniel Zwickl,M,27.0,178.0,71.0,Hungary,HUN,2012 Summer,2012,Summer,London,Table Tennis,Table Tennis Men's Singles,NaN

In [75]:
data[(data.Sport == 'Tennis') & (data.Sex == 'F') & (data.Year == 2000)]['Height'].mean()

171.792

__3. Выведите названия всех уникальных дисциплин, связанных с катанием на коньках (Skating). Посчитайте их количество__

In [38]:
s= list(data.Sport.unique())
count=0
for i in s:
    if 'Skating' in i:
        count += 1
print(count)

3

__4. Выведите всех спортсменов, которые завоевали серебрянные медали в Париже. Посчитайте их количество__

In [78]:
data[(data.City == 'Paris') & (data.Medal == 'Silver')]['Name'].count()

509

__5. Найдите самую легкую (по весу) атлетку игр 2006 года. В каком виде спорта она участвовала?__

In [112]:
new_data = data[(data.Sex == 'F') & (data.Year == 2006)]
new_data[['Sport','Weight']].sort_values(by=['Weight'], ascending=False).head(1)

       Sport  Weight
143593  Luge    90.0

__6. В скольких олимпиадах принимал участие John Aalberg?__

In [118]:
n = data[(data.Name == 'John Aalberg')]
len(n.Year.unique())

2

__7. Сколько золотых медалей настольном теннисе выиграл Китай на Олимпиаде в 2008 году?__

In [126]:
n = data[(data.Team == 'China')&(data.Medal == 'Gold')&(data.Year == 2008)&(data.Sport == 'Table Tennis')]
n [['Team', 'Medal', 'Year', 'Sport']].value_counts()

Team   Medal  Year  Sport
China  Gold   2008  Table Tennis    8
dtype: int64

__8. Правда ли, что Испания выиграла меньше медалей чем Италия на играх 2016 года? Ну учитывайте NaN в колонке _Medal_.__

In [165]:
df_na = data.dropna(how='any', subset = ['Medal']) 
df_na['Medal'].isnull().sum()
df_na_countries = df_na[df_na.Team.isin(['Spain','Italy']) & (df_na.Year == 2016)] 
medals_won = df_na_countries.groupby(['Team'])['Medal'].count()
final_data = pd.DataFrame(medals_won)
final_data.head()
final_data.reset_index().head()
Italian_result = int(final_data.loc['Italy'])
Spain_result = int(final_data.loc['Spain'])
if Italian_result > Spain_result:
    print('Yes')
else:
    print('No')

Yes

__9. Какая страна завоевала больше всех медалей в Figure Skating за всю историю?__

In [133]:
# we now grouping data by city and year and then count number of medal of particular year and city
figure_skating = data[(data.Sport == 'Figure Skating')]
medals_won = figure_skating.groupby(['Team'])['Medal'].count()
medals_won_data = medals_won.rename('№')
final_data = pd.DataFrame(medals_won_data)
sorted_final_data = final_data.sort_values('№',ascending=False).head(1)
print(sorted_final_data)

                №
Team
United States  46